MedicalCare/MedicalCare/Web References/Referenc/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="img" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqarim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDepResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="img" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqarim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDepResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDepResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectDep">
        <s:complexType />
      </s:element>
      <s:element name="SelectDepResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectDepResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddDepSoapIn">
    <wsdl:part name="parameters" element="tns:AddDep" />
  </wsdl:message>
  <wsdl:message name="AddDepSoapOut">
    <wsdl:part name="parameters" element="tns:AddDepResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDepSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDep" />
  </wsdl:message>
  <wsdl:message name="UpdateDepSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDepResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDepSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDep" />
  </wsdl:message>
  <wsdl:message name="DeleteDepSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDepResponse" />
  </wsdl:message>
  <wsdl:message name="SelectDepSoapIn">
    <wsdl:part name="parameters" element="tns:SelectDep" />
  </wsdl:message>
  <wsdl:message name="SelectDepSoapOut">
    <wsdl:part name="parameters" element="tns:SelectDepResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDep">
      <wsdl:input message="tns:AddDepSoapIn" />
      <wsdl:output message="tns:AddDepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDep">
      <wsdl:input message="tns:UpdateDepSoapIn" />
      <wsdl:output message="tns:UpdateDepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDep">
      <wsdl:input message="tns:DeleteDepSoapIn" />
      <wsdl:output message="tns:DeleteDepSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectDep">
      <wsdl:input message="tns:SelectDepSoapIn" />
      <wsdl:output message="tns:SelectDepSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDep">
      <soap:operation soapAction="http://tempuri.org/AddDep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDep">
      <soap:operation soapAction="http://tempuri.org/UpdateDep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDep">
      <soap:operation soapAction="http://tempuri.org/DeleteDep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDep">
      <soap:operation soapAction="http://tempuri.org/SelectDep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDep">
      <soap12:operation soapAction="http://tempuri.org/AddDep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDep">
      <soap12:operation soapAction="http://tempuri.org/UpdateDep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDep">
      <soap12:operation soapAction="http://tempuri.org/DeleteDep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDep">
      <soap12:operation soapAction="http://tempuri.org/SelectDep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44344/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44344/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>