MedicalCare/MedicalCare/Web References/Refrence/WebService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="foto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="book" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="teli" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="work" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dep" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDocResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="foto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="book" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="teli" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="work" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dep" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDocResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteDocResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectDoc">
        <s:complexType />
      </s:element>
      <s:element name="SelectDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectDocResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddDocSoapIn">
    <wsdl:part name="parameters" element="tns:AddDoc" />
  </wsdl:message>
  <wsdl:message name="AddDocSoapOut">
    <wsdl:part name="parameters" element="tns:AddDocResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDocSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDoc" />
  </wsdl:message>
  <wsdl:message name="UpdateDocSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDocResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDocSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDoc" />
  </wsdl:message>
  <wsdl:message name="DeleteDocSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDocResponse" />
  </wsdl:message>
  <wsdl:message name="SelectDocSoapIn">
    <wsdl:part name="parameters" element="tns:SelectDoc" />
  </wsdl:message>
  <wsdl:message name="SelectDocSoapOut">
    <wsdl:part name="parameters" element="tns:SelectDocResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService2Soap">
    <wsdl:operation name="AddDoc">
      <wsdl:input message="tns:AddDocSoapIn" />
      <wsdl:output message="tns:AddDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDoc">
      <wsdl:input message="tns:UpdateDocSoapIn" />
      <wsdl:output message="tns:UpdateDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDoc">
      <wsdl:input message="tns:DeleteDocSoapIn" />
      <wsdl:output message="tns:DeleteDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectDoc">
      <wsdl:input message="tns:SelectDocSoapIn" />
      <wsdl:output message="tns:SelectDocSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService2Soap" type="tns:WebService2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDoc">
      <soap:operation soapAction="http://tempuri.org/AddDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDoc">
      <soap:operation soapAction="http://tempuri.org/UpdateDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDoc">
      <soap:operation soapAction="http://tempuri.org/DeleteDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDoc">
      <soap:operation soapAction="http://tempuri.org/SelectDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService2Soap12" type="tns:WebService2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDoc">
      <soap12:operation soapAction="http://tempuri.org/AddDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDoc">
      <soap12:operation soapAction="http://tempuri.org/UpdateDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDoc">
      <soap12:operation soapAction="http://tempuri.org/DeleteDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDoc">
      <soap12:operation soapAction="http://tempuri.org/SelectDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService2">
    <wsdl:port name="WebService2Soap" binding="tns:WebService2Soap">
      <soap:address location="https://localhost:44344/WebService2.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService2Soap12" binding="tns:WebService2Soap12">
      <soap12:address location="https://localhost:44344/WebService2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>